{% extends 'home/layout.html' %}
{% block title %}Registration{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-field">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
                {% for error in field.errors %}
                    <span class="errorlist">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Registration</button>
    </form>
    <p>Already have an account? <a href="{% url 'users:login' %}">Login here</a>.</p>
</div>
{% endblock %}