{% extends 'home/layout.html' %}

{% block title %}About us{% endblock %}
{% block content %}
<div class="conteiner-text">
    <p>
        Welcome to our online flower store! 🌸
        We are pleased to offer you a wide range of fresh and beautiful flowers for any occasion. From romantic bouquets to colorful arrangements for the holidays, we have everything you need to make your day special. Order online and get it delivered straight to your door! Let every moment be filled with beauty and tenderness!
    </p>
</div>
{% endblock %}